.raspHeader {
    display: flex;
    background-color: #f5f5f5;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.dayCell {
    width: 60px;
    padding: 12px 8px;
    text-align: center;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lessonHeader {
    flex: 0 0 6.934%;
    padding: 12px 5px;
    text-align: center;
    border-right: 1px solid #ddd;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.leasonTime {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lessonHeader:last-child {
    border-right: none;
}